<!DOCTYPE html>

<html>
  <head>
    <title> Quick Quotes </title>
    <link rel = "stylesheet" type = "text/css" href = "../style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/aspneticons_v1.0_Nov2006/edit_16x16.gif">
  </head>
  
  <body background = "http://u.kanobu.ru/comments/images/92025b04-c980-46da-8859-66f64c997468.jpg">
    <h1 class = "text"> Quick Quotes </h1>
    <center><table border = 1 style="width:80%">
      <tr>
        <th>Quote</th>
        <th>Author</th> 
        <th>Tags </th>
      </tr>
      <tr>
        <%@quote_array = @quote1.get_quotes(@quote1.quotes, @tags)%>
        <%curr_quote = @quote_array[0]%>
        <%curr_tags = @quote1.quotes[curr_quote]%>
        <td><q><%=curr_quote%></q></td>
        <td><%=curr_tags[0]%></td>
        <td><%=curr_tags%></td>
      </tr>
      <tr>
        <%@quote_array = @quote1.get_quotes(@quote1.quotes, @tags)%>
        <%curr_quote = @quote_array[1]%>
        <%curr_tags = @quote1.quotes[curr_quote]%>
        <td><q><%=curr_quote%></q></td>
        <td><%=curr_tags[0]%></td>
        <td><%=curr_tags%></td>
      </tr>
      <tr>
        <%@quote_array = @quote1.get_quotes(@quote1.quotes, @tags)%>
        <%curr_quote = @quote_array[2]%>
        <%curr_tags = @quote1.quotes[curr_quote]%>
        <td><q><%=curr_quote%></q></td>
        <td><%=curr_tags[0]%></td>
        <td><%=curr_tags%></td>
      </tr>
      <tr>
        <%@quote_array = @quote1.get_quotes(@quote1.quotes, @tags)%>
        <%curr_quote = @quote_array[3]%>
        <%curr_tags = @quote1.quotes[curr_quote]%>
        <td><q><%=curr_quote%></q></td>
        <td><%=curr_tags[0]%></td>
        <td><%=curr_tags%></td>
      </tr>
      <tr>
        <%@quote_array = @quote1.get_quotes(@quote1.quotes, @tags)%>
        <%curr_quote = @quote_array[4]%>
        <%curr_tags = @quote1.quotes[curr_quote]%>
        <td><q><%=curr_quote%></q></td>
        <td><%=curr_tags[4]%></td>
        <td><%=curr_tags%></td>
      </tr>
      </table></center>
    <a href="http://quick-quotes-picker.herokuapp.com/" style="color: #000000"><h3> &lt&lt Search again </h3></a>
  </body>
</html>